/*		COLOR VARIABLES
======================================================
======================================================
*/
:root {
	--red: hsla(0, 80%, 60%, 0.8);
}

/*		Basic Containers
======================================================
======================================================
*/
body{
    font-family: Helvetica, sans-serif;
	padding: 20px;
	background-color: lightgrey;
}
.app {
	position: relative;
	margin: 0; 		padding: 0;
}


/*		Top Navigation & Indicator
======================================================
======================================================
*/
.controls {
	outline: 2px solid var(--red);
	position: absolute;		top: 25px;		z-index: 10;
	width: 100%;
}
.indicator {
    position: absolute;		left: 15px;
    padding: 58px;
    border-radius: 50%;
    background: antiquewhite url("images/placeholder_icon_01.png") center center no-repeat;
    transition: all 0.4s linear;
}
.indicator .points {
	position: absolute;		top:-10px;		right: -10px;
	display: block;
	padding: 15px 18px;
	border-radius: 50%;
	background-color: var(--red);
}
.close_btn {
    position: absolute;		right:5px;
	height:20px;			width:20px;
	padding: 10px;
	border-radius: 50%;
	text-decoration: none;
    text-align: center;
	background-color: black;
    color: white;
}


/*	Screen and Targets
======================================================
======================================================
*/
.board {
	background-color: lightsalmon;
    height: 990px;
	position: relative;
	background: indigo url("images/placeholder_screen.jpg") bottom right no-repeat;
}
.target {
    list-style: none;
	margin: 0;		padding: 0;
}
.target li {
    display: block;			width: 75px;		height: 75px;
	position: absolute;
    border-radius: 50%;
    display: none;
}

